In [2]:
# Project: Optimizing Bike-Sharing Demand in NYC
# Problem: Imbalance between bike availability and demand.
# Stakeholder: CitiBike Operations Team.
# Goals: Predict hourly demand for redistribution.
# Output: Predictive model + dashboard.

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/sample-data.csv")
df.head()

   hour  temperature  humidity  day_of_week  demand
0     8           15        60            1     120
1     9           17        58            1     140
2    10           20        55            1     200
3    17           25        50            3     300
4    18           22        48            3     280